.container {
  position: relative;
  overflow: hidden;
  min-width: 300px;
  min-height: 300px;
}

.overlayControls {
  border-radius: 4px;
  padding-top: 6px;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  z-index: 101;
}

.overlayControls span {
  cursor: pointer;
  padding: 6px 10px;
}

.overlayControls span:nth-of-type(2) {
  padding-left: 0px;
}

.croppingArea {
  border: 1px dashed black;
  position: absolute;
  z-index: 100;
  box-shadow: 0 0 2000px 2000px rgb(0 0 0 / 30%);
  touch-action: none;
  cursor: move;
}

.croppedArea {
  border: 2px dashed #c2c2c2;
  position: absolute;
  pointer-events: none;
  z-index: 100;
  touch-action: none;
}

.resizerBottomRight {
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: #0097df;
  cursor: nwse-resize;
  touch-action: none;
}

.resizerTopLeft {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: #0097df;
  cursor: nwse-resize;
  touch-action: none;
}
